@use 'var.scss' as *;

html {
  width: 100%;
  height: 100%;
  font-size: 10px;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    '微软雅黑', Arial, sans-serif;
  font-size: 1.4rem;
  color: var(--el-text-color-primary);
  overflow: hidden;
}

#app {
  height: 100%;
  width: 100%;
}

.dark-scrollbar::-webkit-scrollbar-thumb {
  background-color: #364258;
}
.dark-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #425166;
}
.dark-scrollbar::-webkit-scrollbar-thumb:active {
  background-color: #506077;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #cacacb;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #b8b8b8;
}
::-webkit-scrollbar-thumb:active {
  background-color: #8f8f8f;
}

.transition-none {
  transition: none;
}

#app {
  .el-pagination.is-background .btn-prev:disabled,
  .el-pagination.is-background .btn-next:disabled {
    background-color: var(--el-fill-color-dark);
  }
}

.ts-icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--el-text-color-secondary);
  cursor: pointer;

  &--active,
  &:hover {
    background-color: var(--el-color-primary-light-9);
    fill: var(--el-color-primary);
    border-radius: 0.5rem;
  }

  &--active {
    cursor: default;
  }

  .ts-icon {
    pointer-events: none;
  }
}

body {
  .el-dialog {
    --el-dialog-border-radius: 4px;
  }

  .el-overlay.is-message-box .el-overlay-message-box {
    padding: 0;

    &::after {
      height: 0;
    }
  }

  .el-message-box {
    margin: var(--el-dialog-margin-top, 15vh) auto 50px;
    vertical-align: initial;
  }
}

body {
  background-color: white;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.page-header {
  height: 6rem;
  min-height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2rem;
  background-color: white;
  z-index: 10;
  position: sticky;
  top: 0;
}
.page-header__right {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  a {
    height: 2.4rem;
  }
}

.page-body {
  display: flex;
  flex-direction: column;
}

.logo {
  color: var(--el-color-primary);
  font-size: 1.6rem;
  font-weight: bold;
}

.el-dialog {
  --el-dialog-margin-top: 2rem;
}
